{{define "content"}}
{{with .Body}}
<div class="headline">
  <h1>{{.Repo.Name}} / issues</h1>
</div>

<div class="tab-bar" data-tab-group>
  <a href="/ui/r/{{.Repo.Name}}/issues?state=open"
     data-tab-url="/ui/_/r/{{.Repo.Name}}/issues?state=open"
     data-tab-target="#issues-table"
     class="tab{{if eq .State "open"}} active{{end}}">Open</a>
  <a href="/ui/r/{{.Repo.Name}}/issues?state=closed"
     data-tab-url="/ui/_/r/{{.Repo.Name}}/issues?state=closed"
     data-tab-target="#issues-table"
     class="tab{{if eq .State "closed"}} active{{end}}">Closed</a>
</div>

<div id="issues-table">
  {{template "issues_rows.html" .}}
</div>
{{end}}
{{end}}
